<html>

<head>
	<title>Jennings - [CHANGE TITLE BASED ON PAGE]</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/styles.css">
	<link rel="preconnect" href="https://rsms.me/">
	<link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
</head>

<center>
	<nav>
		<a href="index.html">Home</a>
		<a href="works.html">Works</a>
		<a href="pdf/JenningsMas_Resume.pdf" target="_blank">Resume</a>
		<a href="resume.html">Contact</a>
	</nav>
</center>

<body class="flyin">
	<center>
		<h1>Template Page</h1>
	</center>

	<div class="mainContent">
		<p>This is a template HTML page, used to create new pages when needed.</p>

		<p>Links and stylesheet may not display accurately on this page, but will function properly when page is placed
			in root directory.</p>

		<p>If you arrived on this page from the main site, something has likely broken. Whoops! Feel free to contact me
			and explain what happened so I can fix whatever bug has occured.</p>
	</div>

</body>


</html>